// Import page-specific CSS files here.
@import "home";
@import "show";
@import "booking";
@import "new";
<<<<<<< HEAD
@import "user-dashboard";
=======
@import "success";
>>>>>>> ba7afd06f0888d5292282d0dff8ef495ba25321d

body {
  font-family: 'Montserrat', sans-serif !important;
}

h1 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

.title {
  margin-top: 8px;
  margin-bottom: 36px;
}
