.overview-images {
  width: 50%;
}

.square-image {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.preview-image {
  width: 140px;
  height: 140px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-inner {
  margin-bottom: 1.5rem;
}


.offer-title {
  margin-top: 8rem;
  margin-bottom: 1.5rem;
}

#overflow {
  overflow: hidden;
}

#carouselExampleControls {
  width: 50%;
}
.carousel-item {
  width: 100%;
}

.overview {
  width: 100%;
}