.cards-dashboard {
  display: flex;
  margin: 0 auto;
}

.cards-map-dashboard {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.content {
  margin-top: 96px;
}

.bookings {
  margin-top: 48px;
  margin-bottom: 12px;
}
