<div class="container">
  <h1>Congrats your booking has successfully been created!</h1>
  <%= cl_image_tag @booking.offer.photo.key, height: 300, width: 350, crop: :fill, class: "card-img-top" %>
  <h2>Don't forget to pick it up at <%= "#{@booking.offer.location}" %></h2>
    <h3><%= "#{@booking.offer.price} €/ day" %></h3>
    <%= link_to 'Kick me back to all sports equipments', offers_path, class: 'btn btn-primary'%>
</div>



