<div class="container w-75 shadow-none p-3 my-5 rounded">
  <div class="text-center">
    <h1>Congratulations!</h1>
    <h3>Your booking has successfully been created!</h3>
  </div>

  <iframe src="https://giphy.com/embed/5orToQ5JFECis" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/coca-cola-goal-gol-yass-5orToQ5JFECis">via GIPHY</a></p>

  <div class="cards m-5">
    <div class="card-category">
      <h1>wohoooo <i class="fas fa-volleyball-ball"></i></h1>
    </div>
    <div class="card-category">
      <h3>Pick it up at</h3>
      <p><%= "#{@booking.offer.location}" %></p>
    </div>
    <div class="card-category">
      <%= cl_image_tag @booking.offer.photo.key, height: 300, width: 300, crop: :fill, class: "card-img-top" %>
    </div>
  </div>
  <div class="m-5">
    <%= link_to 'Back to all sports equipments', offers_path, class: 'btn btn-filled'%>
  </div>
</div>



