<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-info">
    <a href="#"><p class="mb-0">Blog</p></a>
    <a href="#"><p class="mb-0">Privacy</p></a>
    <a href="#"><p class="mb-0">Company details</p></a>
  </div>
</div>
