<div class="wrapper">
  <header>
  <div class="banner-landing">
    <div class="banner-content d-flex justify-content-around align-items-center">
        <div><h1>No sport equpipment ? No Problem ! </h1></div>
        <div><%= link_to 'Show more', offers_path, class: 'btn btn-primary'%></div>
    </div>
  </div>
</div>

