<div class="wrapper">
  <header>
  <div class="banner-landing">
    <nav>
      <div class="menu-icon">
        <i class="fa fa-bars fa-2x"></i>
      </div>
      <div class="logo">
         Sporte
      </div>
      <div class="menu">
        <ul>
          <li>How does it work</li>
          <li>Community</li>
          <li>About us</li>
          <li class="btn btn-primary" href="#">Login</li>
        </ul>
      </div>
    </nav>
    <div class="banner-content d-flex justify-content-center align-items-center">
    <h1>No sport equpipment ? No Problem ! </h1>
    <a class="btn btn-primary" href="#">Search</a>
    </div>
  </div>
</div>

