<div class="wrapper">
  <header>
    <nav>
      <div class="menu-icon">
        <i class="fa fa-bars fa-2x"></i>
      </div>
      <div class="logo">
         Sporte
      </div>
      <div class="menu">
        <ul>
          <li>How does it work</li>
          <li>Community</li>
          <li>About us</li>
          <li class="btn btn-success" href="#">Search now</li>
        </ul>
      </div>
    </nav>
  </header>
</div>

