<div class="wrapper">
  <header>
  <div class="banner-landing">
    <div class="banner-content d-flex justify-content-center align-items-center">
    <h1>No sport equpipment ? No Problem ! </h1>
    <a class="btn btn-primary" href="#">Search</a>
    </div>
  </div>
</div>

<div class="card-container">
  <div class="card card-image"> <%#need to change it so that it displays the uploaded image%>
    <div class="card-img"></div>
    <a href="" class="card-link">
      <div class="card-img-hovered"></div>
    </a>
    <div class="card-info">
      <div class="card-about">
        <a class="card-tag tag-price">5 Euro</a>
      <div class="card-time">6/11/2018</div> <%#need to change it so that it displays time of the offer%>
      </div>
      <h1 class="card-title">Offer name</h1> <%# offer.name%>
      <div class="card-category"><a href="">Link to Overview?</a></div>
    </div>
  </div>