<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/weekly?workout);">
  <div class="container">
    <h1>No sport equipment ? No problem !</h1>
    <p>Rent sport equipment from people around you</p>
    <a class="btn btn-success" href="#">Search now</a>
  </div>
</div>
