<%= render 'shared/navbar' %>
<div class="wrapper">
  <header>
  <div class="banner-landing">
    <div class="banner-content">
        <div id="banner-title"><h1>No sport equpipment ? No Problem ! </h1></div>
        <div><%= link_to 'Show more', offers_path, class: 'btn btn-primary m-5'%></div>
    </div>
  </div>
</div>

