<%= render 'shared/navbar' %>
<div class="container w-75 shadow-none p-3 my-5 rounded">
  <div class="text-center m-5">
    <h1>Congratulations!</h1>
    <h4 class="mb-5">You successfully created your offer!</h4>
    <iframe src="https://giphy.com/embed/Q9FGOQewX92eRRO9Qi" width="480" height="269" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/wwe-wrestling-raw-monday-night-Q9FGOQewX92eRRO9Qi"></a></p>
    <div>
      <%#= link_to 'Go to your Dashboard', ,class: 'btn btn-ghost' %>
    </div>
    <div class="m-5">
      <%= link_to 'Browse sports equipments', offers_path, class: 'btn btn-ghost'%>
    </div>
  </div>
</div>
