.btn-ghost {
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  color: black;
  border: 1px solid black;
  font-weight: normal;
}

.btn-black {
  color: white;
  background-color: black;
  border: 1px solid black;
  padding: 12px 32px;
  border-radius: 50px;
  font-weight: lighter;
}

.btn-black:hover {
  color: white;
  background-color: rgb(40, 40, 40);
  font-weight: normal;
}

.btn-filled {
    color: black;
    border: 2px solid black;
    padding: 16px 32px;
    border-radius: 50px;
    font-weight: lighter;
    background: rgba(0, 0, 0, 0);
    opacity: 1;
    transition: 0.3s ease;
}

.btn-filled:hover {
    font-weight: 900;
    color: grey;
    padding: 18px 36px;
    text-decoration: none;
}



.button {
    color: #fff;
    cursor: pointer;
    // display: block;
    font-size:16px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    
  //   @media(min-width: 400px) {
  //     display: inline-block;
  //     margin-right: 2.5em;
    
  //     &:nth-of-type(even) {
  //       margin-right: 0;
  //     }
  //   }
    
    @media(min-width: 600px) {
        
      margin: 0 1em 2em;
    
  //     &:nth-of-type(even) {
  //       margin-right: 2.5em;
  //     }
      
  //     &:nth-of-type(5) {
  //       margin-right: 0;
  //     }
      
    }
    
    &:hover { text-decoration: none; }
    
  }
 
  .text {
    color: white; 
  }

  .text:hover {
    color: black; 
    font-weight: 900;
  }
  
  .btn-advanced {
    background: darken(#ffc403, 1.0%);
    font-weight: 100;
    color: white;
    position: absolute;
    left: 40%;
    top: 54%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
    svg {
      height: 45px;
      left: 0;
      position: absolute;
      top: 0; 
      width: 100%; 
    }
    
    rect {
      fill: none;
      stroke: #fff;
      stroke-width: 4;
      stroke-dasharray: 422, 0;
      transition: all 0.35s linear;
    }
  }
  
  .btn-advanced:hover {
    background: rgba(#ffc403, 0);
    font-weight: 900;
    letter-spacing: 1px;
    
    rect {
      stroke-width: 8;
      stroke-dasharray: 15, 310;
      stroke-dashoffset: 48;
      transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }