.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.grid-system {
  text-align: center;
  margin-top: 90px;
  padding: 16px;
}

.card {
  height: 320px;
  overflow: hidden;
  position: relative;
  transition: 0.4s ease-out;
}

.card-img-top {
  opacity: 1;
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease-in;
}


.card-body {
  height: 100%;
  width: 100%;
  transition: 0.4s ease-in;
  color: black;
}

.card-img-top:hover {
    opacity: 0.5;
  }

.card-body:hover {
  height: 100%;
  width: 100%;
}

.card:hover {
  box-shadow: 4px 4px 0px 0px black;
}


